html {
    scroll-behavior: smooth; /* deixa o scroll da página mais suave*/
}

body {
    font-family:'Courier New', Courier, monospace; 
    background-image: url(Imagens/background2560.jpg);
    color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(255, 189, 108);
    border-radius: 2px 2px 2px 2px;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

}

nav ul .imglogo img {
    width: 50%;
}

nav ul .imguser img {
    width: 10%;
    padding-left: 200px;


}

nav ul .textoheader {
    color: black;
    padding-right: 200px;

}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 189, 108);
    border-radius: 2px 2px 2px 2px;
    text-align: center;
}

.container-planetas {
    align-content: center;
    max-width: 1000px;
    margin: 0 center;
    padding: 20%;
}

.mercurio-container{
    text-align: center;
    max-width: 200px;
    text-decoration-line: underline;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}

.mercurio-container img{
    width: 90%;
    padding-bottom: 20%;
}

.venus-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.venus-container img {
    width: 100%;
    padding-bottom: 20%;
}

.terra-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.terra-container img {
    width: 100%;
    padding-bottom: 20%;
}

.marte-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.marte-container img {
    width: 100%;
    padding-bottom: 20%;
}

.jupiter-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.jupiter-container img {
    width: 100%;
    padding-bottom: 20%;
}

.saturno-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.saturno-container img {
    width: 100%;
    padding-bottom: 50%;
}

.urano-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.urano-container img {
    width: 100%;
    padding-bottom: 20%;
}

.netuno-container{
    text-align: center;
    text-decoration-line: underline;
    max-width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}
.netuno-container img {
    width: 100%;
    padding-bottom: 20%;
}

footer{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 189, 108);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 2px 2px 2px 2px;

}

footer img {
    width: 30%;
    
}







